flask==2.3.2
six==1.16.0
#sos==4.4
soupsieve==2.4.1
ssh-import-id==5.11
#systemd-python==234
texttable==1.6.4
tinysegmenter==0.3
tldextract==3.4.4
tqdm==4.65.0
translate==3.6.1
Twisted==22.1.0
#ubuntu-advantage-tools==8001
#ubuntu-drivers-common==0.0.0
#ufw==0.36.1
#unattended-upgrades==0.1
urllib3==1.26.5
wadllib==1.3.6
websocket-client==1.2.3
Werkzeug==2.3.6
#xkit==0.0.0
yarl==1.9.2
zipp==1.0.0
zope.interface==5.4.0
python-sat
